<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	<bean id="defaultTraceSupplier" class="com.ruhnn.trace.random.impl.DefaultTraceSupplier"/>

	<bean id="ttlSupportMethodReplacer" class="com.ruhnn.trace.threadpool.ExecutorConfigurationSupportMethodReplacer"/>

	<bean id="taskAopTraceEnhancer" class="com.ruhnn.trace.dubbo.aop.TaskAopTraceEnhancer" />
</beans>